<h2 class="text-white">Your cart</h2>
<table class="table table-bordered table-striped text-white">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            @if (Model.HasItems)
            {
                <th class="text-right">Action</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (dynamic cartLine in Model.Cart.CartLines)
    {
        <tr>
            <td class="text-center">@cartLine.Quantity</td>
            <td class="text-left">@cartLine.Product.Name</td>
            <td class="text-right">@cartLine.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((cartLine.Quantity * cartLine.Product.Price).ToString("c"))
            </td>
            <td>
                <form asp-action="RemoveFromCart" method="post" class="text-center">
                    <input type="hidden" name="ProductID"
                           value="@cartLine.Product.Id"/>
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl"/>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.Cart.TotalCost.ToString("c")
        </td>
    </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>